<footer>
  <div class="container">
    <p>&copy; {{ site.title }} {{ site.date | date: '%Y' }} - Todos los derechos reservados.</p>
    <div class="social-media">
      <a href="https://twitter.com/MarioArtola15" target="_blank"><i class="fab fa-twitter"></i> Twitter</a>
      <a href="https://www.youtube.com/channel/UC91YVQo46w3z1ZZJH-5tb5Q?sub_confirmation=1" target="_blank"><i class="fab fa-youtube"></i> YouTube</a>
      <a href="https://www.instagram.com/infor_mayo" target="_blank"><i class="fab fa-instagram"></i> Instagram</a>
      <a href="https://www.facebook.com/groups/430222984636303" target="_blank"><i class="fab fa-facebook"></i> Facebook</a>
    </div>
    <button id="scroll-to-top" onclick="scrollToTop()">Volver al principio</button>
  </div>

  <script>
    function scrollToTop() {
      window.scrollTo({
        top: 0,
        behavior: 'smooth' // Hace que el scroll sea suave
      });
    }
  </script>
</footer>