<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    {% include head-custom.html %}

{% seo %}
  </head>

  <body>

    <header>
      <div class="container">
        <a id="logo" href="#">
          <img src="{{ './assets/images/image.png' | relative_url }}" alt="Logo" width="50px">
        </a>
        <h1>{{ site.title | default: site.github.repository_name }}</h1>
        <h2>{{ site.description | default: site.github.project_tagline }}</h2>

        <nav id="menu" class="hidden">
          <ul>
            <li><a href="#">Menu Item 1</a></li>
            <li><a href="#">Menu Item 2</a></li>
            <li><a href="#">Menu Item 3</a></li>
          </ul>
        </nav>
      </div>
    </header>

    <div class="container">
      <section id="main_content">
        {{ content }}
      </section>
    </div>

    <script>
      // Ocultar el menú al cargar la página
      document.getElementById("menu").classList.add("hidden");

      // Agregar evento clic al logotipo
      document.getElementById("logo").addEventListener("click", function() {
        // Agregar o eliminar la clase "hidden" al menú
        document.getElementById("menu").classList.toggle("hidden");
      });
    </script>

  </body>
</html>
