<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    {% include head-custom.html %}
    {% seo %}
    <style>
      #menu {
        display: none;
      }
      #logo img {
        height: 50px;
      }
      #logo {
        cursor: pointer;
      }
      #menu-toggle:checked ~ #menu {
        display: block;
      }
      @media only screen and (min-width: 768px) {
        #menu {
          display: block;
        }
        #logo img {
          height: 100px;
        }
      }
    </style>
  </head>

  <body>

    <header>
      <div class="container">
        <label for="menu-toggle" id="menu-toggle-label">&#9776;</label>
        <input type="checkbox" id="menu-toggle">
        <nav id="menu">
          <ul>
            <li><a href="#">Inicio</a></li>
            <li><a href="#">Acerca de</a></li>
            <li><a href="#">Productos</a></li>
            <li><a href="#">Contacto</a></li>
          </ul>
        </nav>
        <div id="logo">
          <img src="./assets/images/image.png" alt="Logo de la empresa">
        </div>
        <h1 style="text-align: center;">{{ site.title | default: site.github.repository_name }}</h1>
        <h2 style="text-align: center;">{{ site.description | default: site.github.project_tagline }}</h2>
        <h3 style="text-align: center;">Tu eslogan aquí</h3>
      </div>
    </header>

    <div class="container">
      <section id="main_content">
        {{ content }}
      </section>
    </div>

    <script>
      document.getElementById("logo").addEventListener("click", function() {
        document.getElementById("menu-toggle").checked = !document.getElementById("menu-toggle").checked;
      });
    </script>

  </body>
</html>

