<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <header>
    {% include header.html %}
  </header>


  <body>
    <header>
      <div class="container">
        <div style="display: flex; align-items: center;">
          <a id="a-title" href="{{ site.baseurl | relative_url }}">
            <img src="{{ site.baseurl }}/assets/images/image.png" alt="Logo de la empresa" style="width: 60px;">
          </a>          
          <div style="margin: auto; text-align: center;">
            <h1>{{ site.title | default: site.github.repository_name }}</h1>
            <h2>{{ site.description | default: site.github.project_tagline }}</h2>
          </div>
        </div>
        <nav style="display: flex; justify-content: center;">
          <ul style="display: flex; list-style: none; padding: 0;">
            <li style="margin-right: 4rem;"><a href="./">Inicio</a></li>
            <li style="margin-right: 4rem;"><a href="./acercade.html">Acerca de</a></li>
            <li style="margin-right: 4rem;"><a href="./productos.html">Productos</a></li>
            <li><a href="./contacto.html">Contacto</a></li>
          </ul>
        </nav>
      </div>
    </header>

    <div class="container">
      {{ content }}
    </div>

    <script src="{{ '/assets/js/jquery.min.js' | relative_url }}"></script>
    <script src="{{ '/assets/js/main.js?v=' | append: site.github.build_revision | relative_url }}"></script>
  </body>
 <footer>
  <div class="container">
    <p>Todos los derechos reservados &copy; {{ site.title }} {{ site.date | date: '%Y' }}</p>
    <div class="social-media">
      <a href="#"><i class="fab fa-facebook"></i></a>
      <a href="#"><i class="fab fa-twitter"></i></a>
      <a href="#"><i class="fab fa-instagram"></i></a>
    </div>
  </div>
</footer>
<style>
footer {
  background-color: #f2f2f2;
  padding: 2rem;
  text-align: center;
  font-size: 0.8rem;
  margin-top: 2rem;
}

.social-media a {
display: inline-block;
margin-right: 1rem;
color: #333;
font-size: 1.5rem;
transition: color 0.3s;
}

.social-media a:hover {
color: #007bff;
}
</style>
</html>

